html {
    font-size: 17px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Roboto', serif;
  }

#hero-cta-content {
    max-width: 725px;
}

.auth-box {
  width:400px;
  height:400px;
  margin: 0 auto;
  text-align:center;
  margin-top:10%;
}