<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p><strong><%= site.title %></strong> by <%= author.name %></p>
                    <p><a href="https://twitter.com/<%= author.twitter %>"><%= author.twitter %></a></p>
                            <img src="/images/favicon-32x32.png" type="image/png" />
                </div>
            </div>
            <div class="column is-5 has-text-centered">
                <p class="subtitle is-3">Middle description or CTA</p>

            </div>
        </div>
    </div>
</footer>
</body>
</html>
