<div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/favicon-32x32.png">
          </a>
          <a role="button" id="burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-turbolinks-permanent>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div class="navbar-menu">
    
          <div class="navbar-end">
            <div class="tabs is-right">
                <ul>
                  <li class="navbar-item">
                    <a href="/about">About</a>
                    </li>
                    <li class="navbar-item">
                      <a href="/admin/login">Login</a>
                  </li>
                    <% if(adminUser) { %>
                      <li class="navbar-item">
                        <a href="/admin/logout">Logout</a>
                    </li>
                  <% } %>
    
              </ul>
            </div>
          </div>
          </div>
        </div>
        </nav>
      </div>